<div class="dashboard">
  <header class="dashboard-header">
    <div class="logo">
      <img src="assets/paw1.png" alt="Logo">
      <h1>SitMyPet</h1>
    </div>
    <div class="user-info">
      <span>Bienvenue</span>
        <img src="assets/avatar.jpg" alt="Profile" class="profile-pic">
    </div>
    
  </header>

  <section class="cards">
    <div class="card card-admin">
      <i class="fas fa-dog"></i>
      <div class="card-content">
        <h3>Administrateurs <br>4</h3>
        
      </div>
    </div>

    <div class="card card-petowner">
      <i class="fas fa-calendar-check"></i>
      <div class="card-content">
        <h3>Propriétaires d'animaux <br>10</h3>
      </div>
    </div>

    <div class="card card-animal">
      <i class="fas fa-comments"></i>
      <div class="card-content">
        <h3>Animaux <br>25</h3>
      </div>
    </div>
  
    <div class="card card-gardien">
      <i class="fas fa-comments"></i>
      <div class="card-content">
        <h3>Gardien <br>15</h3>
      </div>
    </div>
    <div class="card card-article">
      <i class="fas fa-star"></i>
      <div class="card-content">
        <h3>Article</h3>
        <p>4</p>
      </div>
    </div>
  </section>

  <section class="stats">
    <h2>Statistiques des gardes</h2>
    <div class="progress-bar">
      <span>Chiens</span>
      <div class="bar"><div class="value" style="width: 70%;"></div></div>
    </div>
    <div class="progress-bar">
      <span>Chats</span>
      <div class="bar"><div class="value" style="width: 25%; background-color: #208d70;"></div></div>
    </div>
    <div class="progress-bar">
      <span>Autres</span>
      <div class="bar"><div class="value" style="width: 5%; background-color: #ffc107;"></div></div>
    </div>
  </section>
</div>
