<div class="container-xl">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-8"><h2>Liste des <b> propriétaires</b></h2></div>
                    <div class="col-sm-4" >
                          <!-- Bouton Ajouter -->
                        <button nz-button nzType="primary" (click)="showAddForm = !showAddForm">
                            {{ showAddForm ? 'Annuler' : 'Ajouter' }}
                          </button>

                          <div class="search-filter-container">
                            <!-- Barre de recherche -->
                            <div class="search-controls">
                              <nz-input-group [nzSuffix]="suffixIconSearch" class="search-input">
                                <input 
                                  nz-input 
                                  [(ngModel)]="searchTerm" 
                                  (input)="onSearchInput()" 
                                  placeholder="Rechercher par email ou name" 
                                />
                              </nz-input-group>
                              <ng-template #suffixIconSearch>
                              </ng-template>
                              
                              <button 
                                nz-button 
                                nzType="default" 
                                nzShape="round"
                                (click)="resetSearch()"
                                class="reset-btn"
                              >
                                <span nz-icon nzType="redo"></span> Réinitialiser
                              </button>
                            </div>
                            <div class="status-filters">
                              @for (filter of statutOptions; track filter.value) {
                                <button 
                                  nz-button
                                  [nzType]="selectedStatus === filter.value ? 'primary' : 'default'"
                                  nzShape="round"
                                  (click)="onStatusFilter(filter.value)"
                                  class="status-btn"
                                  [class.active]="selectedStatus === filter.value"
                                >
                                  {{ filter.label }}
                                </button>
                              }
                            </div>
                          </div> 


                          @if (showAddForm) {
                            <div class="form-container">
                              <form #petOwnerForm="ngForm" (ngSubmit)="onSubmitPetOwner(petOwnerForm)">
                                <nz-form-item>
                                  <nz-form-label>Nom</nz-form-label>
                                  <nz-form-control>
                                    <input nz-input [(ngModel)]="newPetOwner.first_name" name="first_name" required>
                                  </nz-form-control>
                                </nz-form-item>
                          
                                <nz-form-item>
                                  <nz-form-label>Prénom</nz-form-label>
                                  <nz-form-control>
                                    <input nz-input [(ngModel)]="newPetOwner.last_name" name="last_name" required>
                                  </nz-form-control>
                                </nz-form-item>
                          
                                <nz-form-item>
                                  <nz-form-label>Email</nz-form-label>
                                  <nz-form-control>
                                    <input nz-input type="email" [(ngModel)]="newPetOwner.email" name="email" required>
                                  </nz-form-control>
                                </nz-form-item>
                          
                                @if (!isEditMode) {
                                  <nz-form-item>
                                    <nz-form-label>Mot de passe</nz-form-label>
                                    <nz-form-control>
                                      <input nz-input type="password" [(ngModel)]="newPetOwner.password" name="password" required>
                                    </nz-form-control>
                                  </nz-form-item>
                          
                                  <nz-form-item>
                                    <nz-form-label>Confirmation</nz-form-label>
                                    <nz-form-control>
                                      <input nz-input type="password" [(ngModel)]="newPetOwner.password_confirmation" name="password_confirmation" required>
                                    </nz-form-control>
                                  </nz-form-item>
                                }
                          
                                
                          
                                <button nz-button nzType="primary" type="submit" [disabled]="petOwnerForm.invalid">
                                  {{ isEditMode ? 'Modifier' : 'Ajouter' }}
                                </button>
                              </form>
                            </div>
                          }
                          
                                              </div>
                    

                   
                </div>
            </div>
            <table class="table table-striped table-hover table-bordered">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>first_name</th>
                        <th>last_name</th>
                        <th>Email</th>
                        <th>Statut</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    
                    <tr *ngFor="let petOwner of petOwners[0]?.petOwners">
                        <td>{{ petOwner.id }}</td>
                        <td>{{ petOwner.first_name }}</td>
                        <td>{{ petOwner.last_name }}</td>
                        <td>{{ petOwner.email }}</td>
                        <td><select 
                            [(ngModel)]="petOwner.status"
                            (change)="updatePetOwnerStatut(petOwner.id, petOwner.status)"
                            class="status-select"
                          >
                            <option *ngFor="let option of statutOptions" 
                                    [value]="option.value"
                                    [selected]="option.value === petOwner.status">
                              {{ option.label }}
                            </option>
                          </select>  </td>
                          <td>
                            

                            <i nz-icon  *ngIf="!isDeletedStatus" nzType="eye" nzTheme="outline" class="action-icon" (click)="viewPetOwner(petOwner.id)"></i>
                            <i nz-icon *ngIf="!isDeletedStatus"  nzType="edit" nzTheme="outline" class="action-icon" (click)="onEditPetOwner(petOwner)"></i>
                            <i nz-icon *ngIf="!isDeletedStatus"  nzType="delete" nzTheme="outline" class="action-icon text-danger" (click)="ondeletePetOwner(petOwner.id)"></i>
                            <i nz-icon  *ngIf="isDeletedStatus" nzType="eye" nzTheme="outline" class="action-icon" (click)="viewPetOwner(petOwner.id)"></i>
                            <i nz-icon  *ngIf="isDeletedStatus" nzType="delete" nzTheme="outline" class="action-icon" (click)="forceDeleteOwner(petOwner.id)"></i>
                            <button
                            *ngIf="isDeletedStatus"
                            (click)="restoreOwner(petOwner.id)"
                          >Restaurer</button>
                                                 </td>
                          
                    </tr>
                           
                </tbody>
            </table>
            <div class="clearfix">
                <div class="hint-text">Showing <b>5</b> out of <b>25</b> entries</div>
                <ul class="pagination">
                    <li class="page-item disabled"><a href="#"><i class="fa fa-angle-double-left"></i></a></li>
                    <li class="page-item"><a href="#" class="page-link">1</a></li>
                    <li class="page-item"><a href="#" class="page-link">2</a></li>
                    <li class="page-item active"><a href="#" class="page-link">3</a></li>
                    <li class="page-item"><a href="#" class="page-link">4</a></li>
                    <li class="page-item"><a href="#" class="page-link">5</a></li>
                    <li class="page-item"><a href="#" class="page-link"><i class="fa fa-angle-double-right"></i></a></li>
                </ul>
            </div>
        </div>
    </div>  
</div> 