<div class="d-flex flex-column flex-shrink-0 bg-light" style="width: 4.5rem;">
    <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
      <li class="nav-item">
        <a href="dashboard" class="nav-link active py-3 border-bottom" aria-current="page" title="Dashboard" data-bs-toggle="tooltip" data-bs-placement="right">
          <i class="bi bi-speedometer2" width="24" height="24"></i>
        </a>
      </li>
      <li>
        <a href="admins" class="nav-link py-3 border-bottom" title="Admins" data-bs-toggle="tooltip" data-bs-placement="right">
          <i class="bi bi-person-gear" width="24" height="24"></i>
        </a>
      </li>
      <li>
        <a href="petsitters" class="nav-link py-3 border-bottom" title="PetSitters" data-bs-toggle="tooltip" data-bs-placement="right">
          <i class="bi bi-person-lines-fill" width="24" height="24"></i>
        </a>
      </li>
      <li>
        <a href="petowners" class="nav-link py-3 border-bottom" title="PetOwners" data-bs-toggle="tooltip" data-bs-placement="right">
          <i class="bi bi-person-bounding-box" width="24" height="24"></i>
        </a>
      </li>
      <li>
        <a href="pets" class="nav-link py-3 border-bottom" title="Pets" data-bs-toggle="tooltip" data-bs-placement="right">
          <i class="bi bi-heart-pulse" width="24" height="24"></i>
        </a>
      </li>
      
    </ul>
  </div>