<div class="container-xl">
  <!-- Carte : Gestion des animaux (Ajout + Recherche) -->
  <nz-card nzTitle="Gestion des animaux" [nzBordered]="true" class="mb-4">
    <div class="d-flex justify-content-between align-items-center flex-wrap gap-2">
      <button nz-button nzType="primary" (click)="showAddForm = !showAddForm">
        {{ showAddForm ? 'Annuler' : 'Ajouter un animal' }}
      </button>
    </div>

    <!-- Barre de recherche -->
    <div class="mt-3 d-flex align-items-center gap-2 flex-wrap">
      <input 
        nz-input 
        [(ngModel)]="searchTerm" 
        (input)="onSearchInput()" 
        placeholder="Rechercher par nom du proprietaire , nom ou type d’animal"
        style="max-width: 100%;"
        
      />
      <button 
        nz-button 
        nzType="default" 
        nzShape="round"
        (click)="resetSearch()"
        class="reset-btn"
      >
        <span nz-icon nzType="redo"></span> Réinitialiser
      </button>
    </div>
  </nz-card>

  <!-- Formulaire -->
  @if (showAddForm) {
    <nz-card nzTitle="{{ isEditMode ? 'Modifier' : 'Ajouter un animal' }}" [nzBordered]="true" class="mb-4">
         <form #petForm="ngForm" (ngSubmit)="onSubmitPet(petForm)">
            

                    
              <nz-form-item>
                <nz-form-label>Proprietaire</nz-form-label>
                <nz-select [(ngModel)]="newPet.pet_owner_id" name="owner_id" [nzAllowClear]="true" nzShowSearch>
                  <nz-option *ngFor="let petOwner of petOwners[0]?.petOwners" [nzValue]="petOwner.id" [nzLabel]="petOwner.first_name + ' ' + petOwner.last_name"></nz-option>
                  </nz-select>
              </nz-form-item>


              <nz-form-item>
                    <nz-form-label>Type d'animal</nz-form-label>
                    <nz-form-control>
                      <nz-select
                        [(ngModel)]="newPet.type"
                        name="type"
                        [nzPlaceHolder]="'Choisir un type'"
                        (ngModelChange)="onTypeChange($event)"
                      >
                        <nz-option *ngFor="let type of animalTypes" [nzValue]="type" [nzLabel]="type"></nz-option>
                      </nz-select>
                    </nz-form-control>
                  </nz-form-item>

<nz-form-item *ngIf="filteredBreeds.length > 0">
  <nz-form-label>Race</nz-form-label>
  <nz-form-control>
    <nz-select
      [(ngModel)]="newPet.breed"
      name="breed"
      [nzPlaceHolder]="'Choisir une race'"
    >
      <nz-option *ngFor="let breed of filteredBreeds" [nzValue]="breed" [nzLabel]="breed"></nz-option>
    </nz-select>
  </nz-form-control>
</nz-form-item>
  
              <nz-form-item>
                <nz-form-label>name</nz-form-label>
                <nz-form-control>
                  <input nz-input type="text" [(ngModel)]="newPet.name" name="name" required>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-label>Genre</nz-form-label>
                <nz-form-control>
                  <nz-radio-group [(ngModel)]="newPet.gender" name="gender" required>
                    <label nz-radio [nzValue]="'Male'">Mâle</label>
                    <label nz-radio [nzValue]="'Female'">Femelle</label>
                    <label nz-radio [nzValue]="'Sterilized'">Stérilisé(e)</label>
                  </nz-radio-group>
                </nz-form-control>
              </nz-form-item>
              
  
              <nz-form-item>
                <nz-form-label>color</nz-form-label>
                <nz-form-control>
                  <input nz-input type="color" [(ngModel)]="newPet.color" name="color" required>
                </nz-form-control>
              </nz-form-item>
  
              <nz-form-item>
                <nz-form-label>birth_date</nz-form-label>
                <nz-form-control>
                  <input nz-input type="date" [(ngModel)]="newPet.birth_date" name="birth_date" required>
                </nz-form-control>
              </nz-form-item>
  
              <nz-form-item>
                <nz-form-label>weight</nz-form-label>
                <nz-form-control>
                  <input nz-input type="number" [(ngModel)]="newPet.weight" name="weight" required>
                </nz-form-control>
              </nz-form-item>
  
              <nz-form-item>
                <nz-form-label>description</nz-form-label>
                <nz-form-control>
                  <input nz-input type="text" [(ngModel)]="newPet.description" name="description" required>
                </nz-form-control>
              </nz-form-item>
  
              <nz-form-item>
                <nz-form-label>Vacciné ?</nz-form-label>
                <nz-form-control>
                  <nz-radio-group [(ngModel)]="newPet.is_vaccinated" name="is_vaccinated">
                    <label nz-radio [nzValue]="true">Oui</label>
                    <label nz-radio [nzValue]="false">Non</label>
                  </nz-radio-group>
                </nz-form-control>
              </nz-form-item>
                        <nz-radio-group
            [(ngModel)]="newPet.is_vaccinated"
            [ngModelOptions]="{ standalone: true }"
            name="is_vaccinated"
          >
            <label nz-radio [nzValue]="true">Oui</label>
            <label nz-radio [nzValue]="false">Non</label>
          </nz-radio-group>
  
              <nz-form-item>
                <nz-form-label>Maladie contagieuse ?</nz-form-label>
                <nz-form-control>
                  <nz-radio-group [(ngModel)]="newPet.has_contagious_diseases" name="has_contagious_diseases">
                    <label nz-radio [nzValue]="true">Oui</label>
                    <label nz-radio [nzValue]="false">Non</label>
                  </nz-radio-group>
                </nz-form-control>
              </nz-form-item>
  
              <nz-form-item>
                <nz-form-label>Dossier médical ?</nz-form-label>
                <nz-form-control>
                  <nz-radio-group [(ngModel)]="newPet.has_medical_file" name="has_medical_file">
                    <label nz-radio [nzValue]="true">Oui</label>
                    <label nz-radio [nzValue]="false">Non</label>
                  </nz-radio-group>
                </nz-form-control>
              </nz-form-item>
  
              <nz-form-item>
                <nz-form-label>État critique ?</nz-form-label>
                <nz-form-control>
                  <nz-radio-group [(ngModel)]="newPet.is_critical_condition" name="is_critical_condition">
                    <label nz-radio [nzValue]="true">Oui</label>
                    <label nz-radio [nzValue]="false">Non</label>
                  </nz-radio-group>
                </nz-form-control>
              </nz-form-item>
  
              @if (!isEditMode) {
                <nz-form-item>
                  <nz-form-label>Média</nz-form-label>
                 
                  <input type="file" (change)="onMediaSelected($event)" multiple />

                </nz-form-item>
                
              }
  
              <button nz-button nzType="primary" type="submit" [disabled]="petForm.invalid">
                {{ isEditMode ? 'Modifier' : 'Ajouter' }}
              </button>
            </form>
    </nz-card>
  }

  <!-- Carte : Liste des animaux -->
  <nz-card nzTitle="Liste des animaux" [nzBordered]="true">
    <div class="table-responsive">
      <table class="table table-striped table-hover table-bordered w-100">
        <thead>
          <tr>
            <th>ID</th>
            <th>Id_Propriétaire</th>
            <th>Nom_Propriétaire</th>

            <th>Type</th>
            <th>Race</th>
            <th>Nom</th>
            <th>Sexe</th>
            <th>Date de naissance</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let pet of Pets">
            <td>{{ pet.id }}</td>
            <td>{{ pet.pet_owner_id }}</td>

            <td>{{ pet.owner_first_name }} {{ pet.owner_last_name }}</td>
            <td>{{ pet.type }}</td>
            <td>{{ pet.breed }}</td>
            <td>{{ pet.name }}</td>
            <td>{{ pet.gender }}</td>
            <td>{{ pet.birth_date | date: 'dd/MM/yyyy'}}</td>
            <td>
              <i nz-icon nzType="eye" nzTheme="outline" class="me-2" (click)="viewPet(pet.id)"></i>
              <i nz-icon nzType="edit" nzTheme="outline" class="me-2" (click)="onEditPet(pet)"></i>
              <i nz-icon nzType="delete" nzTheme="outline" class="text-danger me-2" (click)="onDeletePet(pet.id)"></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </nz-card>
</div>
